{% extends 'main.html' %}


{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class="home-container">

    <div>
        {% include 'base/topics_component.html' %}
    </div>

    <div>
        <h5>目前共有{{room_count}}條貼文</h5>
        <a href="{% url 'create-room' %}">Create Room</a>
        {% include 'base/feed_component.html' %}
    </div>

    <div>
        {% include 'base/activity_component.html' %}
    </div>

</div>

{% endblock content %}