{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div>
  <form method="POST" action="">
    {% csrf_token %}
    <label>使用者名稱:</label>
    <input type="text" name="username" placeholder="輸入名稱" />

    <label>密碼:</label>
    <input type="password" name="password" placeholder="輸入密碼" />

    <input type="submit" value="Login" />
  </form>

  <p>還沒有註冊嗎?</p>
  <a href="{% url 'register' %}">註冊</a>
</div>

{% else %}

<div>
  <form method="POST" action="">
    {% csrf_token %}
    {{form.as_p}}

    <input type="submit" value="Register" />
  </form>
  <p>已經註冊過了?</p>
  <a href="{% url 'login' %}">登入</a>
</div>
{% endif %}

{% endblock %}